@media screen and (min-width: 768px) and (max-width: 991px) {


html {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: hotpink;
}

#header {
    border: pink, 1px. groove;
    height: max-content;
    width: max;
    background-color: hotpink;
    text-align-last: center;
}

#nav {
    float: left;
    border: pink, 7px, groove;
    background-color: aliceblue;
    width: 20;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: hotpink;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
  color: white;
}

#container {
    border: aqua, 7px, groove;
    height:fit-content;
    width: 60%;
    background-color: aliceblue;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#YouTube-welcome {
border: pink, 7px, groove;
    height: fit-content;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pic-border {
    border: pink, 7px, groove;
    height: fit-content;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#latest-newsletter {
    float: left;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
}
    
#latest-video {
    float: right;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 10px;
}

#latest-newsletter2 {
    float: left;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
}
    
#latest-video2 {
    float: right;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 10px;
}

}

@media screen and (min-width: 481px) and (max-width: 767px) {

html {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: hotpink;
}

#header {
    border: pink, 1px. groove;
    height: max-content;
    width: max;
    background-color: hotpink;
    text-align-last: center;
}

#nav {
    float: left;
    border: pink, 7px, groove;
    background-color: aliceblue;
    width: 20;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: hotpink;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
  color: white;
}

#container {
    border: aqua, 7px, groove;
    height:fit-content;
    width: 60%;
    background-color: aliceblue;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#YouTube-welcome {
border: pink, 7px, groove;
    height: fit-content;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pic-border {
    border: pink, 7px, groove;
    height: fit-content;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#latest-newsletter {
    float: left;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
}
    
#latest-video {
    float: right;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 10px;
}

#latest-newsletter2 {
    float: left;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
}
    
#latest-video2 {
    float: right;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 10px;
}

}

@media screen and (min-width: 320px) and (max-width: 480px ) {

    html {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: hotpink;
}

#header {
    border: pink, 1px. groove;
    height: max-content;
    width: max;
    background-color: hotpink;
    text-align-last: center;
}

#nav {
    float: left;
    border: pink, 7px, groove;
    background-color: aliceblue;
    width: 20;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: hotpink;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
  color: white;
}

#container {
    border: aqua, 7px, groove;
    height:fit-content;
    width: 60%;
    background-color: aliceblue;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

#YouTube-welcome {
border: pink, 7px, groove;
    height: fit-content;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pic-border {
    border: pink, 7px, groove;
    height: fit-content;
    width: fit-content;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#latest-newsletter {
    float: left;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
}
    
#latest-video {
    float: right;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 10px;
}

#latest-newsletter2 {
    float: left;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
}
    
#latest-video2 {
    float: right;
    border: aqua, 7px, groove;
    height:fit-content;
    width: 40%;
    background-color: aliceblue;
    margin-top: 10px;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 10px;
}

}

}


